<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<header>
    <h2>Fionn's petitions</h2>
</header>
<body>
<section>
    <nav>
        <ul>
            <li><a href="/createPetitions">Create a new petition</a></li>
            <li><a href="/viewPetitions">View all existing petitions</a></li>
            <li><a href="/search">Search for a petition</a></li>
        </ul>
    </nav>

    <article>
        <h1>Fionn's petitions strives to give access to all users to make their own easy access forms</h1>
        <p>We are striving to offer an easy-to-use service for people who are fighting for worthy causes.
        And to hit this target we are trying to raise awareness of the need for peoples opinions and support to help make a positive change.</p>
        <p>We are currently offering the services to view existing petitions to be in the loop of movements. Making your own moves to create change & a signing form to join a cause.</p>
    </article>
</section>

<footer>
    <p>This is a DEMO and all rights are reserved by Browne.LTD</p>
</footer>

</body>
</html>